body {
  margin: 0;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url("./like.png");
  background-size: 1450px 50px;
  transform: scale(2.3);
}

.like.is-liked {
  animation-name: like;
  animation-duration: 0.8s;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
